services:
  kali-linux:
    image: hacknet-kali
    build:
      context: ./kali
      dockerfile: Dockerfile.kali
    container_name: kali-linux
    networks:
      hacking_net:
        ipv4_address: ${KALI_IP}
    tty: true
    stdin_open: true
    depends_on:
      - hacknet-gateway
    cap_add:
      - NET_ADMIN
    environment:
      - GATEWAY_IP=${GATEWAY_IP}
      - TOR_SOURCE_IP=${TOR_CLIENT_IP}
      - LAN_SUBNET=${NETWORK_SUBNET}

  hacknet-gateway:
    image: hacknet-gateway
    build:
      context: ./gateway
      dockerfile: Dockerfile.gateway
    container_name: hacknet-gateway
    cap_add:
      - NET_ADMIN
      - NET_RAW
      - SYS_MODULE
    privileged: true
    sysctls:
      - net.ipv4.conf.all.src_valid_mark=1
      - net.ipv6.conf.all.disable_ipv6=1
      - net.ipv6.conf.default.disable_ipv6=1
    networks:
      hacking_net:
        ipv4_address: ${GATEWAY_IP}
    ports:
      - "9050:9050"  # Tor SOCKS
      - "9040:9040"  # Tor HTTP proxy (for host browser)
      - "9041:9041"  # Tor transparent proxy (for Kali container)
      - "5353:5353"  # Tor DNS
      - "1080:1080"  # Dante SOCKS proxy
    restart: unless-stopped
    environment:
      - WG_CONFIG=${WG_CONFIG}
      - TOR_CLIENT_IP=${TOR_CLIENT_IP}
      - NETWORK_SUBNET=${NETWORK_SUBNET}
      - VPN_SUBNET=${NETWORK_SUBNET} # Passando como VPN_SUBNET para compatibilidade com script existente
    volumes:
      - ./gateway/wireguard:/etc/wireguard:rw
      - ./gateway/tor:/etc/tor:rw
      - ./gateway/dante:/etc/danted:rw

networks:
  hacking_net:
    driver: bridge
    ipam:
      config:
        - subnet: ${NETWORK_SUBNET}